@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

body{
  width: 100%;
  background: gray;
  height: 200vh;
}

@theme {
  --color-opacityBlack: rgba(0, 0, 0, 0.493);

  --animate-dow: dow 1s ease-in-out forwards;
  --animate-up: up 1s ease-in-out forwards;

  @keyframes dow {
    0% {
      opacity: 0;
      top: 90%;
      height: 0;
      display: flex;
    }
    100% {
      opacity: 1;
      top: 100%;
      height: 360%;
      transition: 2s;
    }
  }

  @keyframes up {
    0% {
      opacity: 1;
      top: 100%;
      height: 320%;
      display: flex;
    }
    100% {
      opacity: 0;
      height: 0%;
      display: hidden;
      transition: 2s;
    }
  }
}